@model DataAccess.Entities.Customer

@{
    ViewBag.Title = "Failure";
}

<h2>@ViewBag.ok</h2>

<h2>@ViewBag.DiskID = disk.DiskID;</h2>
<h2>@ViewBag.TitleID = disk.TitleID;</h2>
<h2> @ViewBag.Status = disk.Status;</h2>
    <h2>@ViewBag.PurchasePrice = disk.PurchasePrice;</h2> 
       <h2>@ViewBag.RentedTime = disk.RentedTime;</h2> 
     <h2>@ViewBag.LastRentedDate = disk.LastRentedDate;</h2>   
    <h2>@ViewBag.DateUpdate = disk.DateUpdate;</h2>    
     <h2>@ViewBag.DateCreate = disk.DateCreate;</h2>   
       <h2>@ViewBag.User = disk.UpdatedUser;</h2> 

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-primary" href="/Disk/Index">Quay lại</a>
            </div>
        </div>



