@model IEnumerable<DataAccess.Entities.Disk>

@{
    ViewBag.Title = "Index";
}

<p>
    <a class="btn btn-primary" href="/Disk/Create">Thêm Đĩa</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiskTitle.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{ 
                string content = item.DiskTitle.Title;
            }
            @Html.ActionLink(content, "Details", new { id = item.DiskID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchasePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentedTime)
        </td>
        <td>
            @Convert.ToDateTime(item.DateUpdate).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Convert.ToDateTime(item.DateCreate).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.ActionLink("Cập nhật thông tin", "Edit", new { id=item.DiskID })             
        </td>
        <td>
            @Html.ActionLink("Xóa đĩa", "Delete", new { id = item.DiskID }) 
        </td>
        <td>
            @{
                string linkDetail = "/DiskManagement/GetDiskStatus/" + item.DiskID;
            }
            <a href=@linkDetail>Chi tiết trạng thái</a>
        </td>
    </tr>
}

</table>
