@model IEnumerable<WebApplication.Models.TitleReportModel>

@{
    ViewBag.Title = "Report_Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Title report</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRentedOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfOnHold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfReservation)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRentedOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfOnHold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfReservation)
        </td>
        
    </tr>
}

</table>
