@model IEnumerable<WebApplication.Models.TitleReportModel>

@{
    ViewBag.Title = "Report_Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Title report</h2>


<table class="table">
    <tr>
        
        <th>
            Tiêu đề
        </th>
        <th>
            Tổng đĩa
        </th>
        <th>
            Số đĩa đã được thuê
        </th>
        <th>
            Số đĩa trên kệ
        </th>
        <th>
            Số đĩa đang được giữ cho khách
        </th>
        <th>
            Số lượng đặt hàng
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRentedOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfOnHold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfReservation)
        </td>
        
    </tr>
}

</table>
