@model IEnumerable<WebApplication.Models.CustomerReportModel>

@{
    ViewBag.Title = "Report_AllCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Báo cáo khách hàng có nợ tiền phạt</h2>

<table class="table">
    <tr>
        <th>
            Mã khách hàng
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Phone
        </th>
        <th>
            Tổng đĩa đang giữ
        </th>
        <th>
            Tổng tiền phạt
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Address)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TotalDisk)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TotalFines)
            </th>
        </tr>

        if (item.DiskOverDues.Count > 0)
        {
            <tr>
                <td></td>
                <td colspan="5">
                    Danh sách đĩa quá hạn:
                </td>

            </tr>
            <tr>
                <td colspan="2"></td>
                <td>Mã đĩa</td>
                <td colspan="2">Tiêu đề</td>
                <td>Ngày phải trả</td>
            </tr>
            foreach (var i in item.DiskOverDues)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@Html.DisplayFor(modelItem => i.DiskID)</td>
                    <td colspan="2">@Html.DisplayFor(modelItem => i.TitleName)</td>
                    <td>@Html.DisplayFor(modelItem => i.DateReturn)</td>
                </tr>
            }
        }
        if (item.LateCharges.Count > 0)
        {
            <tr>
                <td></td>
                <td colspan="5">
                    Danh sách tiền phạt
                </td>

            </tr>
            <tr>
                <td colspan="2"></td>
                <td>Tiêu đề</td>
                <td>Ngày trả</td>
                <td>Ngày phải trả</td>
                <td>Phí</td>
            </tr>
            foreach (var i in item.LateCharges)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@Html.DisplayFor(modelItem => i.Title)</td>
                    <td>@Html.DisplayFor(modelItem => i.DateActuallyReturn)</td>
                    <td>@Html.DisplayFor(modelItem => i.DateReturn)</td>
                    <td>@Html.DisplayFor(modelItem => i.Cost)</td>
                </tr>
            }
        }


    }
</table>

