
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/CSS/alice-min-bundle-checkout-d4abccf615.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/slidebar.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <style type="text/css">
        .body-content{
            padding-top:15px;
        }
        .sub-navbar {
            margin-top: 5px;
            margin-left: 50px;
            padding: 10px;
            color: #fff;
        }

            .sub-navbar:hover {
                border: solid 1px #FFF;
                border-radius: 4px;
            }

        .user-info {
            margin-top: 5px;
            margin-left: 50px;
            padding: 10px;
            margin-right: -30px;
            color: #ffe866;
        }
        .caption {
            color: #ff0000;
        }
        .captionImg {
            width: 102px;
            height: 50px;
        }

    </style>
</head>

<body>
    @{
        if (Session[WebApplication.Models.UserSession.SessionName] != null)
        {
            WebApplication.Models.UserSession userSession = (WebApplication.Models.UserSession)Session[WebApplication.Models.UserSession.SessionName];

            if (userSession.UserRole.Equals(DataAccess.Utilities.UserRole.Clerk))
            {
                //Clerk UI here
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                          
                                @*@Html.ActionLink(" VIDEO RENTAL STORE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/RentAndReturnDisks" style="padding:0px">Trả Mượn Đĩa</a> </li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/Reservation" style="padding:0px">Đặt Thuê Đĩa</a></li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/LateCharge" style="padding:0px">Trễ Hạn</a></li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/Customer" style="padding:0px">Khách hàng</a></li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/Disk" style="padding:0px">Đĩa</a></li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/DiskTitle" style="padding:0px">Tiêu đề</a></li></ul>

                            <ul class="nav navbar-nav navbar-right user-info"><li> <span>Welcome @userSession.UserName</span></li></ul>
                            <ul class="nav navbar-nav navbar-right" style="margin-right:-250px;"><li><a href="/Account/Logout">Logout</a></li></ul>
                        </div>
                    </div>
                </div>
                <div class="container body-content">
                    @RenderBody()
                </div>
                //Clerk UI End here
            }
            if (userSession.UserRole.Equals(DataAccess.Utilities.UserRole.Manager))
            {
                //Manager UI here
                <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#309f98">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                          
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/RentAndReturnDisks" style="padding:0px; color:white">Thuê Mượn Đĩa</a> </li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/Reservation" style="padding:0px; color:white">Đặt Thuê Đĩa</a></li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/LateCharge" style="padding:0px; color:white">Trễ Hạn</a></li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li><a href="/Customer" style="padding:0px; color:white">Khách hàng</a></li></ul>
                            <ul class="nav navbar-nav navbar-right user-info"><li> <span>Welcome @userSession.UserName</span></li></ul>
                            <ul class="nav navbar-nav navbar-right" style="margin-right:-250px"><li><a href="/Account/Logout">Logout</a></li></ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- uncomment code for absolute positioning tweek see top comment in css -->
                    <!-- <div class="absolute-wrapper"> </div> -->
                    <!-- Menu -->
                    <div class="side-menu">

                        <nav class="navbar navbar-default" role="navigation">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <div class="brand-wrapper">
                                    <!-- Hamburger -->
                                    <button type="button" class="navbar-toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    @*<!-- Brand -->
                                    <div class="brand-name-wrapper">
                                        <a class="navbar-brand" href="#">
                                            Brand
                                        </a>
                                    </div>
                                    <!-- Search -->
                                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                    <!-- Search body -->
                                    <div id="search" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <form class="navbar-form" role="search">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                </div>
                                                <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
                                            </form>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <!-- Main Menu -->
                            <div class="side-menu-container" style="padding-top:50px">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/DiskTitle"><span class="glyphicon glyphicon-send"></span> Quản lý tiêu đề</a></li>
                                    <li class="active"><a href="/Disk"><span class="glyphicon glyphicon-plane"></span>Quản lý đĩa</a></li>
                                    <li class="active"><a href="/RentalRates"><span class="glyphicon glyphicon-cloud"></span>Quản lý giá thuê</a></li>
                                    <!-- Dropdown-->
                                    <li class="panel panel-default" id="dropdown">
                                        <a data-toggle="collapse" href="#dropdown-lvl1">
                                            <span class="glyphicon glyphicon-user"></span>Thống kê<span class="caret"></span>
                                        </a>
                                        <!-- Dropdown level 1 -->
                                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li><a href="/StatisticReport/Report_Title">Báo cáo tiêu đề</a></li>
                                                    <!-- Dropdown level 2 -->
                                                    <li class="panel panel-default" id="dropdown">
                                                        <a data-toggle="collapse" href="#dropdown-lvl2">
                                                            <span ></span>Báo cáo khách hàng<span class="caret"></span>
                                                        </a>
                                                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul class="nav navbar-nav">
                                                                    <li><a href="/CustomerReport/Report_AllCustomer">Tất cả khách hàng</a></li>
                                                                    <li><a href="/CustomerReport/Report_OverDueCustomer">Có đĩa trễ hạn</a></li>
                                                                    <li><a href="/CustomerReport/Report_LateFeeCustomer">Có nợ trễ hạn</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                   <!--<li class="active"><a href="/StatisticReport"><span class="glyphicon glyphicon-signal"></span>Thống Kê</a></li>--> 
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>

                    </div>
                    <!-- Main Content -->
                    <div class="container body-content">
                        <div class="side-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                //Manager UI End here
            }

        }
        else
        {
            //Guest UI here
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Video Rental Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" style="font-size:larger"><li><a href="/Account/Login">Login</a></li></ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
            </div>
        }
    }
</body>
</html>
<script  type="text/javascript">
    $(function () {
        $('.navbar-toggle').click(function () {
            $('.navbar-nav').toggleClass('slide-in');
            $('.side-body').toggleClass('body-slide-in');
            $('#search').removeClass('in').addClass('collapse').slideUp(200);

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').toggleClass('slide-in');

        });

        // Remove menu for searching
        $('#search-trigger').click(function () {
            $('.navbar-nav').removeClass('slide-in');
            $('.side-body').removeClass('body-slide-in');

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').removeClass('slide-in');

        });
    });
</script>