@model IEnumerable<WebApplication.Models.DiskView>

@{
    ViewBag.Title = "ReturnDisk";
}

<h2>ReturnDisk</h2>

<form class="form-group" method="get">
    <div class="form-inline">
        <label for="usr">DiskID:</label>
        <input type="text" class="form-control" name="diskID">
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiskID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiskTitleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiskID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiskTitleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prices)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Return Disk", "ReturnASpecificDisk", new { id=item.DiskID })
        </td>
    </tr>
}

</table>
