@model IEnumerable<WebApplication.Models.CustomerView>

@{
    ViewBag.Title = "ShowAllCustomer";
}
<link href="~/CSS/alice-min-bundle-checkout-d4abccf615.css" rel="stylesheet" />
<h2>Show All Customer</h2>
<h2 class="text-danger">@ViewBag.status</h2>
<div class="checkout-header _container " style=" margin-bottom: 20px;">
    <div class="checkout-header _progress-bar">
        <ol class="step-breadcrumb _list">
            <li class="step-breadcrumb _item -past">
                <span class="step-breadcrumb _text">1. Chọn Đĩa</span>
            </li>
            <li class="step-breadcrumb _item -current">
                <span class="step-breadcrumb _text">2. Chọn Khách Hàng</span>
            </li>
        </ol>
    </div>
</div>


<form class="form-group">
    <div class="form-inline">
        <label for="usr">Customer Name:</label>
        <input type="text" class="form-control" name="customerName">
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.ActionLink("Thuê Đĩa", "PaymentDisk", new { id = @item.customerID })
            </td>
        </tr>
    }

</table>
<style>
    .checkout-header{
        left:0;
    }

</style>