@model IEnumerable<WebApplication.Models.DiskView>

@{
    ViewBag.Title = "RetalAndReturnManagement";
}

<h2>Danh Sách Đĩa</h2>
<h2 class="text-danger">@ViewBag.status</h2>
<div class="checkout-header _container " style=" margin-bottom: 20px;">
    <div class="checkout-header _progress-bar">
        <ol class="step-breadcrumb _list">
            <li class="step-breadcrumb _item -current">
                <span class="step-breadcrumb _text">1. Chọn Đĩa</span>
            </li>
            <li class="step-breadcrumb _item">
                <span class="step-breadcrumb _text">2. Chọn Khách Hàng</span>
            </li>
        </ol>
    </div>
</div>

<form class="form-group" method="get">
    <div class="form-inline">
        <label for="usr">Tìm Theo Mã Đĩa </label>
        <input type="text" class="form-control" name="diskName">
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</form>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiskID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiskTitleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiskID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiskTitleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <div class="btn btn-default disk" id=@item.DiskID>Thuê</div>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
<form method="POST" action="/RentAndReturnDisks/SaveListDisk" class="form-group" id="form-diskid">
    <input class="btn btn-success form-control" type="submit" value="Thuê" />
</form>
<script>
    var data = "";
    $(".disk").click(function () {
        data = $(this).attr('id');
        if ($(this).text() == 'Thuê') {
            $(this).html('Hủy');
            $(this).toggleClass('btn-default btn-warning');
            $("#form-diskid").append("<input type='text' name='diskID'  value='" + data + "'/>");
        } else {
            $(this).toggleClass('btn-warning btn-default');
            $(this).html('Thuê');
            $("input[value='" + data + "']").remove();
        }
    });
</script>
<style>
    .checkout-header {
        left: 0;
    }
</style>