@model DataAccess.Entities.RentalRate

@{
    ViewBag.Title = "Create";
}

<h2>Thêm Giá Thuê Và Thời Gian Thuê</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RentalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RentalPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RentalPrice, "", new { @class = "text-danger" })
                <p style="color: red">@ViewBag.rentalPrice</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LateCharge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LateCharge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LateCharge, "", new { @class = "text-danger" })
                <p style="color: red">@ViewBag.lateCharge</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentalPeriod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RentalPeriod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RentalPeriod, "", new { @class = "text-danger" })
                <p style="color: red">@ViewBag.rentalPeriod</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TitleID, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TitleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TitleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-danger" />
                <a class="btn btn-primary" href="/RentalRates/Index">Quay lại</a>
            </div>
        </div>
    </div>
}

