@model DataAccess.Entities.RentalRate

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiskTitle.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiskTitle.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LateCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-primary" href="/DiskTitle/Index">Quay lại</a>
        </div>
    </div>
</div>

