@model DataAccess.Entities.RentalRate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiskTitle.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiskTitle.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LateCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalRateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
