@model WebApplication.Models.TitleInfoModel

@{
    ViewBag.Title = "GetTitleInfomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phản hồi về một tiêu đề </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleID)
        </dd>

        <dt>
            Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Tổng số đĩa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Hình:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageLink)
        </dd>

        <dt>
            Số đĩa có thể cho thuê:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDiskRentable)
        </dd>

    </dl>
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-primary" href="/DiskTitle/Index">Quay lại</a>
    </div>
    
</div>
