@model IEnumerable<WebApplication.Models.ReservationView>

@{
    ViewBag.Title = "ReservationManagement";
}

<h2>Quản Lí Đặt Trước</h2>
<h2 class="text-danger text-center">@ViewBag.status</h2>

<div class="form-group">
    @Html.ActionLink("Đặt Đĩa", "ShowTitles", null, new { @class = "btn btn-info" })
</div>
<form class="form-group" method="get">
    <div class="form-inline">
        <label for="usr">Customer </label>
        <input type="text" class="form-control" name="customerNameOrID">
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diskNameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateReservate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diskNameTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateReservate)
        </td>
        <td>
            @Html.ActionLink("Hủy Đặt Trước", "ConfirmReservation", new { titleID = item.titleID, customerID = item.customerID }, new { @class="btn btn-warning" })
        </td>
    </tr>
}

</table>
