@model IEnumerable<WebApplication.Models.ReservationView>

@{
    ViewBag.Title = "ReservationManagement";
}

<h2>ReservationManagement</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diskNameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateReservate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diskNameTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateReservate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
