@model IEnumerable<WebApplication.Models.TitleView>

@{
    ViewBag.Title = "ShowChosenTitle";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
    </tr>
}

</table>
