@model IEnumerable<WebApplication.Models.CustomerView>

@{
    ViewBag.Title = "ShowCustomers";
}

<h2>Danh Sách Khách hàng</h2>
<h2 style="color:red">@ViewBag.IsReservationExist</h2>

<div class="checkout-header _container " style=" margin-bottom: 20px;">
    <div class="checkout-header _progress-bar">
        <ol class="step-breadcrumb _list">
            <li class="step-breadcrumb _item -past">
                <span class="step-breadcrumb _text">1. Chọn Đĩa</span>
            </li>
            <li class="step-breadcrumb _item -current">
                <span class="step-breadcrumb _text">2. Chọn Khách Hàng</span>
            </li>
        </ol>
    </div>
</div>

<form class="form-group">
    <div class="form-inline">
        <label for="usr">Tên Khách Hàng </label>
        <input type="text" class="form-control" name="customerName">
        <input type="submit" class="btn btn-success" value="Search" />
    </div>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.ActionLink("Đặt Tiêu Đề", "AddReservation", new { customerID = @item.customerID })
            </td>
        </tr>
    }

</table>
<style>
    .checkout-header {
        left: 0;
    }
</style>