@model IEnumerable<WebApplication.Models.TransactionHistoryView>

@{
    ViewBag.Title = "CancelLateCharge";
}

<h2>Hủy Trễ Hạn</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionHistoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionHistoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.ActionLink("Hủy", "CancelASpecificLateCharge", new { transactionID = item.TransactionHistoryID })
        </td>
    </tr>
}

</table>
