@model IEnumerable<WebApplication.Models.CustomerView>

@{
    ViewBag.Title = "LateChargeManagement";
}

<h2>ShowLateCharge</h2>
<h2 class="text-danger">@ViewBag.status</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.customerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.ActionLink("Ghi Nhận Trễ Hạn", "RecordLateCharge", new { customerID = item.customerID}) |
            @Html.ActionLink("Xem Trễ Hạn", "CancelLateCharge", new { customerID = item.customerID}) 
        </td>
    </tr>
}

</table>
